@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Car Base</title>
    <link href="@Url.Content("~/Content/CSS/_Layout.css")" rel="stylesheet" media="screen,projection" type="text/css" />
    <link href="~/Scripts/tablescript.js" type="text/javascript" />
</head>
<body>
    <div class="logo">
        <h1><a class="novision" href="Catalog/">Car Base</a></h1>
    </div>
    <div class="help">
        <p></p>
    </div>
</body>
</html>
