<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="NLog.txt">
    <targets>
      <target xsi:type="Console" name="Console" layout="${message}" />
      <target xsi:type="File" name="GeneralFile" fileName="Trace.log" encoding="utf-8" layout="${level} ${longdate} Message: ${message}" />
    </targets>
    <rules>
      <logger name="*" writeTo="Console" minlevel="Info" />
      <logger name="*" writeTo="GeneralFile" minlevel="Trace" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CarsConnectionName" connectionString="Data Source=WIN-K05MCPENQ59\SQLEXPRESS;Initial Catalog=CarBase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="CarsConnectionName" connectionString="data source=VEGA\MSSQLSERVER01;initial catalog=Cars;persist security info=True;user id=VEGA\Stanislav;password=c44Thufr;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
